.git
.github
node_modules
**/node_modules
.next
**/.next
dist
**/dist
build
**/build
out
**/out
coverage
**/coverage
release
**/release
*.tsbuildinfo
.turbo
**/.turbo
.env
.env.*
!.env.example
!deploy/env/*.example
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
