{
	servers {
		protocols h1 h2 h3
	}
}

{$POS_PUBLIC_HOST} {
	tls {
		issuer acme {
			dir https://acme-v02.api.letsencrypt.org/directory
		}
	}

	encode zstd gzip

	handle_path /api/* {
		reverse_proxy api:4000
	}

	handle {
		reverse_proxy pos-web:3001
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}
}

{$API_PUBLIC_HOST} {
	tls {
		issuer acme {
			dir https://acme-v02.api.letsencrypt.org/directory
		}
	}

	encode zstd gzip

	reverse_proxy api:4000

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}
}

{$WEB_ADMIN_PUBLIC_HOST} {
	tls {
		issuer acme {
			dir https://acme-v02.api.letsencrypt.org/directory
		}
	}

	encode zstd gzip

	handle_path /api/* {
		reverse_proxy api:4000
	}

	handle {
		reverse_proxy web-admin:3000
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}
}
